.movie-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.movie-contents {
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.load-more {
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px;
}