.movie-card {
    flex: 1 1 20%;
    background-color: lightblue;
    margin: 10px;
    min-height: 250px;
}

.movie-img {
    width: 90%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    margin-top:10px;
}

.movie-card h1 {
    font-size: 24px;
}

.open-modal {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display:flex;
}

.closed-modal {
    display: none;
}

.modal-content {
    background-color: white;
    margin: auto;
    width: 80%;
    height: 80vh;
    overflow: auto;
}

.heart {
    width: 25px;
}

.liked {
    display: block;
    width: 25px;
}

.not-liked {
    display: hidden;
    width: 25px;
}